## Description
The notebook for analyzing data

In [1]:
# The code was removed by Watson Studio for sharing.

   YEAR    JUN    JUL    AUG    SEP  JUN-SEP
0  1901  111.0  243.2  273.6  124.6    752.4
1  1902  109.0  282.8  201.8  201.0    794.7
2  1903  117.0  292.0  271.7  200.9    881.7
3  1904  165.2  263.1  205.2  131.7    765.2
4  1905   92.3  254.9  201.4  180.0    728.6